.container{
    margin: 0 3rem;
    display: flex;
    padding-bottom: 3rem;
}

.tagline {
    margin-top: 7rem;
    font-size: 4.5rem;
    font-weight: 100;
    color: var(--brown-text);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.left{
    width: 45%;
}

.authForm{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.authForm label{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.authForm input{
    padding: 1.6rem 1rem;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
    border: 1px solid var(--gray);
    font-size: 1.6rem;
}

.authForm button{
    font-size: 1.8rem;
    padding: 1.4rem 0;
    background: var(--primary-blue);
    outline: none;
    border: 0;
    border-radius: 0.6rem;
    color: var(--white);
    cursor: pointer;
    transition: all 0.2s;
}

.authForm button:hover {
    background: #2391ff;
}

.loginImg{
    position: fixed;
    right: 0;
    top: 8rem;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 55%;
}

.loginImg img{
    width:  calc(100% + 80px);
    position: relative;
    right: 5rem;
}

/* -------------SIGNUP---------------- */

.signupUserImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.signupUserImage img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
} 
 
.signupUserImage label, .signupUserImage p{
    margin-top: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
}

.signupUserImage p{
    color: red;
}